<ng-scrollbar>
  <div id="outerDiv" class="container">
  <h3>Velkommen</h3>

<p>Maecenas id nibh at est vehicula volutpat. Quisque cursus mollis arcu at rutrum. Aliquam hendrerit sem non odio eleifend, sed tristique tellus egestas. In sagittis dapibus porta. Sed posuere orci vel dignissim interdum. Nunc tincidunt vulputate bibendum. Sed ullamcorper dapibus purus et placerat. Suspendisse nisi eros, blandit non sollicitudin eu, convallis eu justo. Nulla fermentum lectus et ante bibendum hendrerit. Suspendisse vulputate accumsan sapien, vel dignissim justo venenatis sed. Nulla tincidunt congue neque, vitae consectetur est lacinia nec. Nullam at velit nibh. Vivamus laoreet velit lobortis urna venenatis semper. Maecenas vel enim quam.</p>
<p>Maecenas id nibh at est vehicula volutpat. Quisque cursus mollis arcu at rutrum. Aliquam hendrerit sem non odio eleifend, sed tristique tellus egestas. In sagittis dapibus porta. Sed posuere orci vel dignissim interdum. Nunc tincidunt vulputate bibendum. Sed ullamcorper dapibus purus et placerat. Suspendisse nisi eros, blandit non sollicitudin eu, convallis eu justo. Nulla fermentum lectus et ante bibendum hendrerit. Suspendisse vulputate accumsan sapien, vel dignissim justo venenatis sed. Nulla tincidunt congue neque, vitae consectetur est lacinia nec. Nullam at velit nibh. Vivamus laoreet velit lobortis urna venenatis semper. Maecenas vel enim quam.</p>
</div>
</ng-scrollbar>
