<h3>Kontakt</h3>
<ul>
  <li class="mb-2">
    <a href="mailto:nikolajharder@live.dk?subject=hej">
      <img
      placement="bottom"
      ngbTooltip="mailto: nikolajharder@live.dk"
      class="icon-sm"
      src="assets\mailicon.jpg">
    </a>
    nikolajharder@live.dk
  </li>
  <li class="mb-2">
    <a href="tel:29892628">
      <img
      class="icon-sm"
      src="assets\phoneicon.png"
      ngbTooltip="Ring til 29 89 26 28"
      placement="bottom"
      >
    </a>
    29 89 26 28
  </li>
  <li class="mb-2">Bopæl: Sorø, 4180</li>
</ul>
