<ng-scrollbar >
  <div class="container" id="outerDiv">

<h3>Curriculum vitae</h3>

<ul>
  <li>Født 04-03-89</li>
  <li>Sorø, 4180</li>
  <li>29 89 26 28</li>
  <li>nikolajharder@live.dk</li>

</ul>
<h5>Erhverserfaring:</h5>
<h6>Nota (igen):</h6>
<p>November 2019 - nuværende. Jeg blev genansat på Nota igen i November 2019, med stort set de samme arbejdsopgaver som førhen, med den ændring at jeg nu primært arbejder hjemmefra. Sidenhen er mine arbejdsopgaver blevet udvidet, til nu også at inkludere PHP-udvikling af en hjemmeside til intern brug i afdelingen.</p>
<h6>Nota:</h6>
<p>2011 - oktober 2019. her har jeg været ansat i Notas indmeldelsesafdeling. Hos Nota bestod mine primære arbejdsopgaver i at behandle ansøgninger om medlemskab, samt at rådgive brugere og andre interessenter via telefon og mail. Jeg blev afskediget fra Nota ved udgangen af September 2019, da Nota blev flyttet til Nakskov og jeg valgte ikke at flytte med.</p>
<h6>Bødker murer of Enterprise:</h6>
<p>2010 - 2012. Her har jeg primært har beskæftiget mig med nedrivning. Da firmaet havde en stor andel af udenlandske medarbejdere uden danskkundskaber, har jeg ofte stået for at kordinere det daglige arbejde på mindre byggepladser.</p>
<h6>Opvasker på Bakken:</h6>
<p>Sommer 2010. </p>

<h6>Valgbud for Købehavns Kommune.</h6>
<p>Ved Kommunal & Regionsrådsvalg 2017, Europaparlamentsvalg 2019 og Folketingsvalg 2019.</p>
<h6>Genoptræningscenter Baunehøj, Lyngby-Taarbæk Kommune.</h6>
<p>2004-2010. </p>
<h6>Omdeling af reklamer: </h6>
<p>2002-2004.</p>


<h5>Uddannelse:</h5>
<ul>
  <li>Nuværende: Datatekniker med speciale i programmering, Påbegyndt januar 2018.</li>
  <li>Gymnasiet (STX): Virum Gymnasium, afsluttet i 2009</li>
  <li>10. klasse: Kongevejen Skole, afsluttet i 2006</li>
  <li>Folkeskole 0.-9. klasse: Engelsborgskolen, afsluttet i 2005</li>
</ul>

<h5>Øvrigt:</h5>
  <ul>
    <li>Kørekort B</li>
    <li>Egen bil</li>
    <li>Dansk: Modersmål</li>
    <li>Engelsk: flydende mundligt og skriftligt</li>
  </ul>

</div>
</ng-scrollbar>
